<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5> <img src="assets/images/logo.svg" alt="icon"> <span class="ml-2">Express Lands</span></h5>
        </div>

        <ul class="list-unstyled components">

            <li class="list-item active">
                <a href="#">
                    <img src="assets/icons/home.svg" alt="icon">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <img src="assets/icons/benefit.svg" alt="icon">
                    <span>Menu Item 1</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <img src="assets/icons/pensioners.svg" alt="icon">
                    <span>Menu Item 2</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <img src="assets/icons/bills.svg" alt="icon">
                    <span>Menu Item 3</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <img src="assets/icons/mark.svg" alt="icon">
                    <span>Menu Item 4</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <img src="assets/icons/checklist.svg" alt="icon">
                    <span>Menu Item 5</span>
                </a>
            </li>

        </ul>
        <!-- <ul class="list-unstyled" style="position: absolute; bottom: 20px;"> 
            <li class="list-item" >
                <a href="#" >
                    <img src="assets/icons/manageUsers.svg" alt="icon">
                    <span>Manage User</span>
                </a>
            </li>
        </ul> -->

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg p-0">
            <div class="container-fluid p-0">

                <button type="button" id="sidebarCollapse" class="btn" style="background: transparent;">
                    <img src="assets/icons/toggler.svg" alt="toggler">
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto mt-2">
                        <li class="nav-item mr-2">
                            <div class="d-flex justify-content-between bg-item bell-notity-icon">
                                <div class="mr-3">
                                    <h6><b>Notifications Center</b></h6>
                                    <p>You have <b>2</b> unread notifications</p>
                                </div>
                                <div>
                                    <span
                                        class="p-4 badge badge-danger rounded-lg">{{payload.notification_count}}</span>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <div class="d-flex justify-content-between bg-item user-notity-icon">
                                <div class="mr-3">
                                    <h6><b>{{payload.logged_user}}</b></h6>
                                    <p>Vanity By Juls</p>
                                </div>
                                <div>
                                    <span class="p-3 badge btn-blue rounded-lg">
                                        <i class="fa fa-power-off"></i><br>
                                        <span><a style="color: white;" routerLink="/">Log out</a></span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <div class="row dash-top-card">
                <div class="col-md-6 welcome-card">
                    <div class="card rounded-lg ">
                        <div class="card-body mb-3">
                            <div class=" text-right">
                                <i class="fa fa-times fa-2x text-right text-light "></i>
                            </div>
                            <div>
                                <h5 class="text-lt-blue text-uppercase mb-2 mt-1 ">Welcome back! Chidimma.</h5>
                                <p class="text-light">
                                    See overview of analytics and reporting metrics <br> and a lot more interesting
                                    stuffs you can do here.
                                </p>
                                <button class=" btn btn-light shadow text-blue">Take A Tour</button>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/undraw_data1.png" alt="img">
                </div>
                <div class="col-md-6 request-card">
                    <div class="card rounded-lg ">
                        <div class="card-body mb-3">
                            <div class="">
                                <h5 class="text-blue text-uppercase mb-2 mt-1 ">OPTIMIZED APPLICATION PROCESSING</h5>
                                <p class="text-dark">
                                    We’ve optimized the system to process your <br> application as fast as possible.
                                    <b>Click on the button <br> below to get started.</b>
                                </p>
                                <button class=" btn btn-blue shadow text-blue">New Request</button>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/undraw_data2.png" alt="img">
                </div>
            </div>

            <div class="row my-4 budeget-cards">
                <div class="col-md-4" *ngFor="let chart_stat of chart_stats">
                    <div class="card">
                        <div class="card-body">
                            <header class=" d-flex justify-content-between">
                                <h5><b>Annual Play Budget</b></h5>
                                <div>
                                    <select class="form-control">
                                        <option value="">This year</option>
                                    </select>
                                </div>
                            </header>
                            <p>Summary</p>
                            <section>
                                <div id="donutchartx" style="height: 300px;"></div>
                            </section>
                            <section>
                                <div class="section-footer bg-white">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>Total Play (NGN)</p>
                                            <h6><b>50,000,000</b></h6>
                                        </div>
                                        <div>
                                            <p><i class="fa fa-circle text-blue"></i> Total Spent</p>
                                            <p><i class="fa fa-circle" style="color: #D7E2ED;"></i> Balance</p>
                                        </div>
                                    </div>
                                    <div *ngIf="chart_label != assets" class="d-flex justify-content-between">
                                        <div>
                                            <p>Total Spent (NGN))</p>
                                            <h6><b>{{formatNumber(chart_stat.spent)}}</b></h6>
                                        </div>
                                        <div>
                                            <p>Balance (NGN)</p>
                                            <h6><b>{{formatNumber(chart_stat.balance)}}</b></h6>
                                        </div>
                                    </div>
                                    <div *ngIf="chart_label == assets" class="d-flex justify-content-between">
                                        <div>
                                            <p>card in-use</p>
                                            <h6><b>342,383</b></h6>
                                        </div>
                                        <div>
                                            <p>in-active</p>
                                            <h6><b>50,000,000</b></h6>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 work-card">
                    <div class="card">
                        <div class="card-body">
                            <header class=" d-flex justify-content-between">
                                <h5><b>Annual Play Budget</b></h5>
                                <div>
                                    <select class="form-control">
                                        <option value="">This year</option>
                                    </select>
                                </div>
                            </header>
                            <p>Summary</p>
                            <section>
                                <div id="donutchart" style="height: 300px;"></div>
                            </section>
                            <section>
                                <div class="section-footer">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>Total Play (NGN)</p>
                                            <h6><b>20,000,000</b></h6>
                                        </div>
                                        <div>
                                            <p><i class="fa fa-circle" style="color:  #FF6542;"></i> Total Spent</p>
                                            <p><i class="fa fa-circle" style="color:  #EEDFD8;"></i> Balance</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>Total Spent (NGN))</p>
                                            <h6><b>10,000,000</b></h6>
                                        </div>
                                        <div>
                                            <p>Balance (NGN)</p>
                                            <h6><b>10,000,000</b></h6>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 count-card">
                    <div class="card">
                        <header class="card-header text-light">
                            <h5><b>Annual Play Budget</b></h5>
                            <p>Summary</p>
                        </header>
                        <div class="card-body">
                            <section>
                                <div id="donutchart" style="height: 300px;"></div>
                            </section>
                            <section>
                                <div class="section-footer text-light">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>Total card</p>
                                            <h6><b>392,383</b></h6>
                                        </div>
                                        <div>
                                            <p><i class="fa fa-circle text-warning"></i> In-use</p>
                                            <p><i class="fa fa-circle text-light"></i> In-active</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>card in-use</p>
                                            <h6><b>342,383</b></h6>
                                        </div>
                                        <div>
                                            <p>in-active</p>
                                            <h6><b>50,000,000</b></h6>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>